<!DOCTYPE html>
<html>
<head>
	<title>Asia</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel='stylesheet' href='/stylesheets/style.css' />

	<script type="text/javascript" src="../public/javascripts/project.js"></script>
</head>
<body>
	<div class="jumbotron asia-flight-deals-jumbotron"></div>
	<div class="container table-container">
		<h2><b>Flights to Asia</b></h2><hr>
		<h3><i>Great deals on flights to Hong Kong, Japan, Mainland China, <br>and the rest of Asia</i></h3><br><br><br>
		<table id="flight-deals-table">
			<tr>
				<th><b>Destination City</b></th>
				<th><b>from San Francisco</b></th>
				<th><b>from Auckland</b></th>
				<th><b>from Sydney</b></th>
				<th><b>From Los Angeles</b></th>
				<th><b>From Melbourne</b></th>
			</tr>
			<tr>
				<td><b>Hong Kong</b></td>
				<td>$1,051 <br><br> <button>Select Flight</button></td>
				<td>$1,557 <br><br> <button>Select Flight</button></td>
				<td>$1,856 <br><br> <button>Select Flight</button></td>
				<td>$1,871 <br><br> <button>Select Flight</button></td>
				<td>$1,206 <br><br> <button>Select Flight</button></td>
			</tr>
			<tr>
				<td><b>Tokyo</b></td>
				<td>$1,038 <br><br> <button>Select Flight</button></td>
				<td>$1,544 <br><br> <button>Select Flight</button></td>
				<td>$1,843 <br><br> <button>Select Flight</button></td>
				<td>$1,858 <br><br> <button>Select Flight</button></td>
				<td>$1,193 <br><br> <button>Select Flight</button></td>
			</tr>
			<tr>
				<td><b>Shanghai</b></td>
				<td>$1,068 <br><br> <button>Select Flight</button></td>
				<td>$1,574 <br><br> <button>Select Flight</button></td>
				<td>$1,873 <br><br> <button>Select Flight</button></td>
				<td>$1,888 <br><br> <button>Select Flight</button></td>
				<td>$1,223 <br><br> <button>Select Flight</button></td>
			</tr>
		</table>
	</div>
</body>
</html>