<!DOCTYPE html>
<html>
<head>
	<title>San Francisco</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel='stylesheet' href='/stylesheets/style.css' />

	<script type="text/javascript" src="../public/javascripts/project.js"></script>
</head>
<body>
	<div class="jumbotron flight-deals-jumbotron"></div>
	<div class="container table-container">
		<h2><b>Flights to the West Coast U.S.</b></h2><hr>
		<h3><i>Great deals on flights to San Francisco, Seattle, Los Angeles, <br>and the rest of North America</i></h3><br><br><br>
		<table id="flight-deals-table">
			<tr>
				<th><b>Destination City</b></th>
				<th><b>from Sydney</b></th>
				<th><b>from Auckland</b></th>
				<th><b>from Hong Kong</b></th>
				<th><b>From Tokyo</b></th>
				<th><b>From Shanghai</b></th>
			</tr>
			<tr>
				<td>Los Angeles</td>
				<td>$1,051</td>
				<td>$1,557</td>
				<td>$1,856</td>
				<td>$1,871</td>
				<td>$1,206</td>
			</tr>
			<tr>
				<td>San Francisco</td>
				<td>$1,038</td>
				<td>$1,544</td>
				<td>$1,843</td>
				<td>$1,858</td>
				<td>$1,193</td>
			</tr>
			<tr>
				<td>Seattle</td>
				<td>$1,068</td>
				<td>$1,574</td>
				<td>$1,873</td>
				<td>$1,888</td>
				<td>$1,223</td>
			</tr>
		</table>
	</div>
</body>
</html>