body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

h4 {
	color: white;
}

table {
	width: 100%;
}

td {
	text-align: center;
	padding: 10px;
}

th {
	text-align: center;
	padding: 10px;
	background-color: #A9A9A9;
}

table, th, td {
	border: 5px solid white;
}

.card-container > a {
	text-decoration: none;
}

.card {
	/*display: inline-block;*/
	margin: auto;
    width: 65%;
    height: 200px;
    padding-top: 55px;
    margin-top: 20px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.card > p {
	text-align: center;
}

.container {
	margin-top: 50px;
}

.disclaimer {
	color: #4cd6e6;
}

.destination {
	color: white;
	font-size: 2em;
	background-position: center;
	background-size: cover;
	height: 300px;
}

.flight-deals-jumbotron {
	background: url('https://secure.parksandresorts.wdpromedia.com/resize/mwImage/1/1260/540/92/secure.parksandresorts.wdpromedia.com/media/abd/refresh/north-america/san-francisco-tours/adventures-by-disney-north-america-san-francisco-long-weekend-hero-01-golden-gate-bridge.jpg');
	background-position: center;
	background-size: cover;
	height: 400px;
}

.homepage-jumbotron {
	text-align: center;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1527634632829-7f220bb9e667?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=816ac66b80c426080a0f4297ed051cef&auto=format&fit=crop&w=1350&q=80');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 400px;

}

.table-container {
	padding-bottom: 75px;
}

#title {
	color: white;
}
